@page "/"

<PageTitle>Start</PageTitle>

<h1>Hello, and welcome to your SMART FORUM!</h1>
<br/>
<br/>

<h5>"Do you want to chat with all your friends? Then you have come to the right place!"</h5>
<br/>
<br/>
<br/>
<br/>

Welcome to your new forum application.
<br/>
<br/>

A place to connect online.

